<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <h1 class="text-left">Lista de itens criados</h1>
        <br>
        <% if @items.empty? %>
            <p>Você ainda não criou nenhum itens aki</p>
        <% else %>
            <% @items.each do |item| %>
              <% if (item.status == "false") %>
                <h2 class="text-left"><%= link_to item.title, item %></h2>
                <p class="text-left"><%= time_ago_in_words(item.created_at) %> atrás</p>
                <hr>
              <% else %>
                <s>  
                  <h2 class="text-left"><%= link_to item.title, item %></h2>
                  <p class="text-left">concluido <%= time_ago_in_words(item.updated_at) %> atrás </p>
                  <hr>
                </s>
              <% end %>
            <% end %>
        <% end %>
      </div>
      <div class="col">
        <%= link_to "Novo item", new_item_path, class: "btn btn-outline-dark" %>
      </div>      
    </div>
  </div>
<% else %>
  <%= render 'welcome_page' %>
<% end %>
